.section{
    width: 100%;
    display: grid;
    gap: 15px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $main-dark;
    outline: 2px solid $border;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom ;
    }
}
#row-one{
    grid-template-columns: 2.8fr 2.8fr 2.8fr 3.6fr;
    .cards{
        min-height: 300px;
    }
}
#row-two{
    grid-template-columns: repeat(4, 1fr);
    .cards{
        width: 100%;
        min-height: 150px;
    }
    img{
        width: auto;
        max-height: 150px;
    }
}
.icons{
    height: 100%;
    display: flex;
    justify-content: center;
    img{
        width: auto;
        height: 50px;
        object-fit: cover;
    }
}