header{
    width: 100%;
     nav{
         width: 75%;
         height: 30px;
     }
     ul{
         list-style-type: none;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
     }
     li{
        width: 100%;
         flex: 1;
     }
     a{
         display: block;
         width: 100%;
         line-height: 30px;
         text-align: center;
         text-decoration: none;
         background-color: $main-dark;
         color: #fff;
         text-transform: uppercase;
         transition: all 0.2s;
         &:hover{
             box-shadow: inset 0 -5px 0 $accent;
         }
     }
 }
 #burger{
    width: 30px;
    display: none;
    align-self: center;
    cursor: pointer;
    .bar{
        width: 100%;
        height: 5px;
        background-color: $main-dark;
        margin: 8px 0;
    }
 }